.jumbotron {
	position: relative;
	background: url("../media/backgrounds/city0.png");
	overflow: hidden;
	color: white;
}

.navbar-inverse{
	background-color: rgb(17,7,18)
}

.body{
	background-color: #d3d3d3
}