.jumbotron {
	position: relative;
	background: url("../media/backgrounds/city0.png");
	overflow: hidden;
	color: white;
}

.navbar-inverse{
	background-color: rgb(17,7,18);
}

.navbar-inverse .navbar-brand {
    color: #C7A732;
}

#footer-color{
	color: #C7A732;
}

#bg-container{
	background-color: #110712
}


#rcorners1 {
    border-radius: 25px;
    background: #C7A732;
    padding: 20px; 
}