{% extends 'base.html' %}

{% block jumbotron%}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 style="text-align: center">Contact Info</h1>
      </div>
    </div>

{% endblock %}

{% block content %}

<div class='col-sm-12' style='text-align: center'>
	<h3>Email</h3>
	<p>McChimperson@gmail.com</p>
	<h3>Phone</h3>
	<p>(503) 686-5353</p>
	<a href="/static/pdf/LucasBerge2015Resume.pdf"><h3>Resume</h3></a>
</div>

{% endblock %}