
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Lucas Demo</a>
        </div>
        {% if user.is_authenticated %}
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
              <a href="/logout/" class="btn btn-warning" role="button">Log out</a>
          </form>
        </div><!--/.navbar-collapse -->
		{% else %}
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
              <a href="/login/" class="btn btn-success" role="button">Log in</a>
              <a href="/register/" class="btn btn-primary" role="button">Sign up</a>
          </form>
        </div><!--/.navbar-collapse -->
        {% endif %}
      </div>
    </nav>